<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
                    <span class="info-box-icon bg-green">
                        <i class="fa fa-buysellads"></i>
                    </span>
            <div class="info-box-content">
                <span class="info-box-text">Ads number</span>
                <span class="info-box-number">{{ ads_count }} of {{ ads_allowed }}</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
                    <span class="info-box-icon bg-aqua">
                        <i class="fa fa-eye"></i>
                    </span>
            <div class="info-box-content">
                <span class="info-box-text">Ads Views</span>
                <span class="info-box-number">{{ ads_views }}</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
                    <span class="info-box-icon bg-red">
                        <i class="fa fa-eye-slash"></i>
                    </span>
            <div class="info-box-content">
                <span class="info-box-text">Views remain</span>
                <span class="info-box-number">{{ views_remain }}</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
                    <span class="info-box-icon bg-orange">
                        <i class="fa fa-industry"></i>
                    </span>
            <div class="info-box-content">
                <span class="info-box-text">Popularity</span>
                <span class="info-box-number">TBA</span>
            </div>
        </div>
    </div>
</div>