{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Free WiFi</title>

    <link rel="stylesheet" href="{% static 'css/wifi/wifi.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/font-awesome/web-fonts-with-css/css/fontawesome.min.css' %}">
</head>

<body class="text-center">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Free WiFi</h3>
            <nav class="nav nav-masthead justify-content-center" id="navbar">
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover" id="main_block">
        <h3 class="cover-heading">Watch picture below to use internet</h3>
        <p class="lead">
            {% csrf_token %}
            <img class="img-responsive center-block" src="{{ ad }}">
            <div class="timer_div">You will redirect in &nbsp;<span style="color: green"><p id="countdown_seconds">10</p></span>&nbsp; seconds
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p id="footer_text">2018. All rights reserved. Version 0.0.1a</p>
        </div>
    </footer>
</div>

<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/wifi/wifi.js' %}"></script>
<script>
    var links = {
        'thank_you_page': '{% url "wi_fi:success_page" %}',
        'callback': '{% url "wi_fi:callback" %}'
    }
</script>
</body>
</html>
